@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;1,400&family=Marvel:wght@700&family=Roboto:wght@300;400;500&display=swap');
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.grantesOfertas{
height: 20px;
background-color: black;
font-family: 'Roboto', sans-serif;
font-weight: 500;
color: white;
border: solid 0.5px black;
padding-left: 90px;
padding-right: 60px;
}


.fondo{   
  display: flex;
   width: 100%;
   height: 409px;
}



.texto-encima{
   font-size: 37px;
   background-color: white;
   border-radius: 5px;
   border: 5px solid white;
   /* position: absolute;
   top: 285px;
   left:1341px; */
   /* transform: translate(-50%, -50%); */
   font-family:'Roboto', sans-serif; 
   /* height: 49px;
   width: 436px; */
}

.texto-encima1{
   font-size: 20px;
   /* position: absolute;
   top: 350px;
   left:1340px;
   transform: translate(-50%, -50%); */
   font-family:'Roboto', sans-serif;
}

.boton{
   background-color:#F0A83E;
   position: absolute;
   top: 385px;
   left: 1262px;
   height: 40px;
   width: 150px;
   border-radius: 5px;
   border: 5px solid #F0A83E;
   font-family:'Roboto', sans-serif;
   font-size: 20px;
   font-weight: 500;
   color: white;
}

.lista select{
   list-style-type: none;
   display: inline;
   padding-right:0px;
   float: right;
   background-color: black;
   font-family: 'Roboto', sans-serif;
   font-weight: 500;
   color: white;
   border: none ;
}

.navegador{

background-color: #F0A83E;
border: 5px solid #F0A83E;
width: 100%;
height: 62px;
padding-left:40px;
padding-top: 15px;

}

.logoPet{
   position: absolute;
   width: 166.38px;
   height: 23px;
   
}

.nav{
float: right;
display: flex;
font-family: 'Roboto', sans-serif;
font-weight: 500;
padding-right: 25px;
}

.nav li{
   padding-right: 15px;
   padding-left: 15px;
}

.sinDecoracion {
text-decoration: none; 
color: white;
}

.sinDecoracion img{
   padding-left: 5px;
}

.productosDestacados{
text-align: center;
line-height: 0;
}

.tituloPrincipal{
font-family: 'Roboto', sans-serif;
font-size: 30px;
color: rgb(131, 34, 34);
margin: 45px;
}

.subtituloPeque{
font-family: 'Roboto', sans-serif;
}

.articulos{
   display: flex;
   justify-content: space-evenly;
}

.sinStyle{
   list-style: none;
   display: flex;
}

